li {
  list-style-type: none;
}

header {
  display: flex;
  justify-content: center;
}

.top {
  background-image: url(../img/yaesulogo.png);
  background-size: cover;
  height: 150px;
  width: 300px;
  margin: 0 auto;
}

.osbslogo {
  padding-right: 20px;
}

section {
  padding:10px 10%;
}

.osbslogo {
  height: 100px;
  width: 100px;
}

.title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px
}

.buil {
  height: 50%;
  width: 100%;
  padding-top: 50px
}

.buil2 {
  padding-top: 20px;
  height: 100%;
  width: 100%;
}