button {
  background: skyblue;
  padding:16px 32px;
  margin:0 auto;
  border-radius: 10%;
  flex: .05;
  transition: transform .5s, background 1s;
}

#none {
  margin:0 auto;
  display:block;
  position:relative;
  bottom: 100px;
}

section {
  display: flex;
  height: 300px;
  width: 90%;
  align-items: center;
  justify-content: center;

  background: #e3e3e3;
  margin:0 auto;
}

#html {
  color:red;
}

#html:hover {
  transform:translate(100px, 100px)
  rotate(180deg)
}

#css {
  color: palegreen;
}

#css:hover {
  background: purple;
}

#script {
  position:relative;
  color: blue;
  animation: move 2s infinite 1s;
  position: relative;
  top:100px;
}

a {
  display: block;
  padding-left: 100px;
}

@keyframes move {
  0% {
    transform: none;
  }
  60% {
    transform: translatex(200px) rotate(180deg);
    background: gold;
  }
  100% {
    transform: translatex(400px) rotate(360deg);
  }
}